/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

select {
  width: auto !important;
  height: 2rem;
  font-size: 1rem !important;
}

form div .row {
  margin-bottom: 2rem;
}

.hidden {
  width: 0;
}

.col-form-label {
  font-weight: bold;
}

.not-bold {
  font-weight: normal !important;
}

.inner-text {
  /* color: rgb(82, 82, 82); */
  color: white;
}

.no-selection {
  color: rgb(156, 156, 156);
  background-color: white !important;
}

.order-form {
  background-color: #537fbe;
  padding: 2rem;
  border-radius: 10px;
}

/* #delivery-address {
  display: none;
} */