/* Sass sample */

$text-color: black;
$blue: #537fbe;
$red: #ea433b;
$yellow: #f5b82e;
$green: #2e944b;

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    background-color: aquamarine;

    .blue {
        color: $blue;
    }

    .red {
        color: $red;
    }

    .yellow {
        color: $yellow;
    }

    .green {
        color: $green;
    }
}