/* Importing fonts from Google APIs */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=League+Spartan");

/* Setting up custom variables */
:root {
  --blue: #1565c0;
  --dark-blue: #094e9e;
  --light-blue: #ebf7ff;
  --red: #ea433b;
  --yellow: #f5b82e;
  --green: #2e944b;
  --shadow: rgb(201, 201, 201);
  --gray: rgb(108, 117, 125);
  --light-gray: rgb(248, 249, 250);
  --border-gray: rgb(216, 212, 218);
  --nav-bar-color: rgb(36, 139, 224);
}


/* Overriding some Bootstrap body properties (i.e. font family) plus some container styling */
body {
  font-family: 'Poppins', sans-serif !important;
  background-color: var(--light-gray);
}
.container-large {
  max-width: 1080px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.container-medium {
  max-width: 720px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
.container-small {
  max-width: 480px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* Styling for mobile screens and non-mobile screens */
.div-only-mobile {
  display: none;
}
.div-no-mobile {
  display: block;
}
@media screen and (max-width: 849px) {
  .div-no-mobile {
    display:none
  }
  .div-only-mobile {
    display: block;
  }
}

/* Styling for navigation bar */
/* Size for brand */
nav .navbar-brand {
  font-size: xx-large;
}
nav .navbar-brand .blue {
  color: var(--blue);
}
nav .navbar-brand .white {
  color: white;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link
{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white !important;
  /* border-radius: 4px; */
  transition: background-color 0.25s ease-in-out;
}
.nav-link:hover {
  background-color: var(--dark-blue);
}
/* Custom class */
.nav-container {
  border: none;
  background-color: var(--nav-bar-color) !important;
}
.home-icon {
  width: 24px;
  height: 24px;
}

/* Styling for the order page */
select {
  width: auto !important;
  height: 2rem;
  font-size: 1rem !important;
}


/* To be applied to the select forms if no valid entry is selected yet */
.no-selection {
  color: var(--light-gray);
  background-color: white !important;
  height: auto;
}

/* Shadow classes */
.shadow-low {
  box-shadow: 0px 1px 2px 1px var(--shadow);
}
.shadow-high {
  box-shadow: 0px 1px 4px 3px var(--shadow);
}

/* Custom order form */
.order-form {
  margin-top: 1rem;
  background-color: var(--light-gray);
  /* background-color: transparent; */
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;
  position: relative;
  color: var(--blue);
}

/* Overriding input group text properties */
.input-group-text {
  /* font-weight: bold; */
  background-color: transparent;
  color: black;
  border: none;
  margin-right: 1rem;
  /* border-radius: 10px !important; */
}
/* Creating a new class for an input group entry*/
.input-group-entry {
  border-radius: 10px !important;
}
.input-group-border {
  border: 1px solid var(--border-gray);
}


/* Overriding Bootsrap form properties */
.form-select, .form-control {
  border-width: 1px !important;
  color: black;
}
.form-select:focus, .form-select:hover, .form-control:focus, .form-control:hover, .input-group-entry:hover, .form-check-image-group:hover {
  border-color: var(--blue) !important;
  /* border-width: 2px; */
  outline: 0;
  box-shadow: none !important;
}
/* Custom form class for read-only text */
.form-read-only {
  color: black;
  background-color: transparent !important;
  border: none;
  /* border-top: 0;
  border-bottom: 0;
  border-right: 0; */
}
/* Customizing checkbox properties */
.form-check-image-group {
  width: 250px;
  height: 200px;
  margin-bottom: 0.75rem;
  padding: 10px;
  border: 1px solid var(--border-gray);
  border-radius: 10px;
  background-color: white;
  /* border-color: var(--border-gray); */
}
.form-check-image {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  border-radius: 10px;
  /* border-color: var(--border-gray); */
}
.form-label, .form-check-label {
  color: black;
}


/* Overriding Bootstrap button properties */
.btn {
  border-radius: 20px !important;
  /* font-weight: bold; */
}
.btn-primary {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}
.btn-primary:hover {
  background-color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
}


/* Text styling */
.text-small {
  font-size: 0.75rem;
}
.text-blue {
  color: var(--blue);
}
.text-red {
  color: var(--red);
}
.not-bold {
  font-weight: normal !important;
}

/* Progress bar styling */
.progress {
  height: 1px;
}
.progress-bar {
  background-color: var(--blue);
}
.progress-node-active {
  height: 2rem;
  width: 2rem;
  background-color: var(--blue);
}
.progress-node-disabled {
  height: 2rem;
  width: 2rem;
  background-color: var(--gray);
}

.todo {
  color: var(--red);
  display: none;
}