{% extends "layout.html" %}

{% block head %}
<!--https://developers.google.com/maps/documentation/javascript/examples/places-searchbox#maps_places_searchbox-html-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places"></script>-->
    <script src="/static/index.js"></script>
{% endblock %}

{% block title %}
    Order Now
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <!-- We use Bootstrap's grid system to center our order form on the screen by assigning column classes (12-column grid) -->
            <div class="col-sm-3"></div>
            
            <div class="col-sm-6 order-form">
                <h1 class="mb-4 fw-bold">Order Now</h1>

                <form action="/submit-order" method="post">
                    <!-- We use Bootstrap's "input-group" to group each line in our input form -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Quantity (containers):</span>
                        <input class="form-control text-end input-group-entry" type="number" id="quantity" name="quantity" min="0" placeholder="">
                    </div>

                    <!-- TODO change the succeeding select elements to radio buttons -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">Select container type:</span>
                        <select class="form-select no-selection text-end input-group-entry" id="container-type" name="container-type">
                            <option selected disabled>Select option</option>
                            <option value="round-container">Round container</option>
                            <option value="slim-container">Slim container</option>
                        </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Swap or buy new:</span>
                        <select class="form-select no-selection text-end input-group-entry" id="swap-new" name="new-container">
                            <option selected disabled>Select option</option>
                            <option value="Swap">Swap container</option>
                            <option value="New">Buy new container</option>
                        </select>
                    </div>

                    <div class="input-group mb-5">
                        <span class="input-group-text">Pick up or delivery:</span>
                        <select class="form-select no-selection text-end input-group-entry" id="delivery-mode" name="delivery-mode">
                            <option selected disabled>Select option</option>
                            <option value="Pick up">Pick up</option>
                            <option value="Delivery">Delivery</option>
                        </select>            
                    </div>

                    <div class="input-group">
                        <span class="input-group-text">Price per unit:</span>
                        <input class="form-control text-end form-read-only input-group-entry" disabled type="text" id="price" name="price" value="PhP 0.00">
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Total price:</span>
                        <input class="form-control text-end form-read-only fw-bold input-group-entry" disabled type="text" id="total" name="total" value="PhP 0.00">
                    </div>
                    
                    <div class="row">
                        <span class="col-3"></span>
                        <button class="btn btn-primary col-6" type="submit">Place order</button>
                        <span class="col-3"></span>
                    </div>
                    
                </form>

            </div>
            <div class="col-sm-3"></div>
        </div>

        <!--
        -   Choose between round containers or slim containers (ok)
        -   Input quantity (ok)
        -   Show price per unit and total price for given quantity (ok)
        -   Select if for pickup or for delivery (ok)
        -   If for delivery, request for address and add option to schedule delivery or deliver immediately; Delivery to be handled in another page-->
    </div>
{% endblock %}