{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
    Order Now
{% endblock %}

{% block main %}
<div class="home-bg-image py-5">
    <div class="container-medium">
        <div class="row">
            <div class="text-center pb-5 fs-1 text-blue">Welcome to the Water Order Management System!</div>
            
            <div class="container-small">
                <div class="row">
                    <button class="col-12 btn btn-primary mb-3" id="order-now">Order now</button>
                    <button class="col-12 btn btn-primary" id="check-order-status">Check the status of my order</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}