{% extends "layout.html" %}

{% block head %}
{% endblock %}

{% block title %}
Order Confirmation
{% endblock %}

{% block main %}
<div class="container-medium">
    <div class="mx-0">
        <div class="row mx-0">
            <div class="mx-auto mt-4">
                <div class="position-relative m-4">
                    <div class="progress">
                        <div class="progress-bar w-100" role="progressbar"></div>
                    </div>
                    <div class="position-absolute top-0 start-0 translate-middle rounded-pill progress-node-active"></div>
                    <div class="position-absolute top-0 start-50 translate-middle rounded-pill progress-node-active"></div>
                    <div class="position-absolute top-0 start-100 translate-middle rounded-pill progress-node-active"></div>
                </div>
            </div>
        </div>

        <div class="text-center">
            <h3 class="my-3">Your order is confirmed!</h3>
            <div>Your order reference number is {{ ref_number }}.</div>
            <div>Your may use this reference number to check the status of your order.</div>
            <!--We will store the order data in a form that will be hidden so we can submit in a POST request-->
            <div class="row mt-2 mx-5">
                <button class="btn btn-secondary mt-2" id="home" type="button">BACK TO HOME</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}