{% extends "layout.html" %}

{% block head %}

{% endblock %}

{% block title %}
Order Status
{% endblock %}

{% block main %}
<div class="container-small">
    <div class="mx-0">
        <!-- TODO: Check if valid reference number -->
        <h3 class="my-3">Order status</h3>
        <div class="row my-3 fs-6">
            TODO!
        </div>
        <div class="row px-2">
            <button class="btn btn-secondary mt-2" id="home" type="button">Back to Home</button>
        </div>
        <!-- TODO: If invalid reference number -->
    </div>
</div>
{% endblock %}